@import 'global.scss';
@import 'bootstrap.scss';

span.address {
  font-family: monospace;
  &::after {
    content: ' ';
  }
}

textarea {
  width:100%;
  height:100%;
  box-sizing: border-box;         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box;    /* For Firefox                          */
  -webkit-box-sizing: border-box; /* For Safari                           */
}
